.TouchPageComponent__header {
   display: flex;
}

.TouchPageComponent__header_toMainPageLink {
   margin: 1rem;
   position: absolute;
}

.TouchPageComponent__header_toMainPagButton {
   color: white;
   width: 100%;
   background-color: rgba(0, 64, 255, 0.6);
   border: 0px;
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   font-size: 1rem;
   font-weight: 500;
   padding: 1rem;
   margin: 0 2rem 1.5rem 0;
   border-radius: 17px;
   -webkit-transition: background-color 0.5s ease-out;
   -moz-transition: background-color 0.5s ease-out;
   -o-transition: background-color 0.5s ease-out;
   transition: background-color 0.5s ease-out;
}

.CsvPageComponent__header_toMainPagButton:hover {
   background-color: rgba(79, 117, 255, 0.515);
}

.TouchPageComponent__header_selectiveContainer {
   margin: 1rem auto;
   padding-bottom: 1rem;
   width: 30rem;
   display: grid;
   border-radius: 25px;
   background-color: white;
   box-shadow: 0px 0px 50px #dedfff;
}

.TouchUploadContainer__header {
   font-size: 1.1rem;
   font-weight: 600;
   margin: 1rem 0 1.5rem 0;
}

.TouchUploadContainer_button {
   color: white;
   height: 3.5rem;
   width: 50%;
   background-color: rgba(0, 64, 255, 0.6);
   border: 0px;
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   font-size: 1rem;
   font-weight: 500;
   margin: 1.5rem 0 0.5rem 0;
   border-radius: 20px;
   -webkit-transition: background-color 0.5s ease-out;
   -moz-transition: background-color 0.5s ease-out;
   -o-transition: background-color 0.5s ease-out;
   transition: background-color 0.5s ease-out;
}

.TouchUploadContainer_button:hover {
   background-color: rgba(79, 117, 255, 0.515);
}
