.DashboardComponent {
   max-width: 100rem;
   margin: 0 auto;
}

.OrdersDashboardComponent__PieChartsContainer {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   margin: 0 auto;
}
