.CsvPageComponent__header {
   display: flex;
}

.CsvPageComponent__header_toMainPageLink {
   margin: 1rem;
   position: absolute;
}

.CsvPageComponent__header_toMainPagButton {
   color: white;
   width: 100%;
   background-color: rgba(0, 64, 255, 0.6);
   border: 0px;
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   font-size: 1rem;
   font-weight: 500;
   padding: 1rem;
   margin: 0 2rem 1.5rem 0;
   border-radius: 17px;
   -webkit-transition: background-color 0.5s ease-out;
   -moz-transition: background-color 0.5s ease-out;
   -o-transition: background-color 0.5s ease-out;
   transition: background-color 0.5s ease-out;
}

.CsvPageComponent__header_selectiveContainer {
   margin: 1rem auto;
   padding-bottom: 1rem;
   width: 25rem;
   display: grid;
   border-radius: 25px;
   background-color: white;
   box-shadow: 0px 0px 50px #dedfff;
}

.CsvPageComponent__container_button {
   color: white;
   height: 3.5rem;
   width: 60%;
   background-color: rgba(0, 64, 255, 0.6);
   border: 0px;
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   font-size: 1rem;
   font-weight: 500;
   margin: 0 0 1.5rem 0;
   border-radius: 20px;
   -webkit-transition: background-color 0.5s ease-out;
   -moz-transition: background-color 0.5s ease-out;
   -o-transition: background-color 0.5s ease-out;
   transition: background-color 0.5s ease-out;
}

.CsvPageComponent__container_label {
   margin: auto auto;
   margin-top: 1rem;
   color: white;
   display: block;
   width: 50%;
   padding: 1rem;
   height: 1.5rem;
   background-color: rgba(0, 64, 255, 0.6);
   cursor: pointer;
   font-family: "Roboto", sans-serif;
   font-size: 1rem;
   font-weight: 500;
   border-radius: 20px;
   -webkit-transition: background-color 0.3s ease-out;
   -moz-transition: background-color 0.3s ease-out;
   -o-transition: background-color 0.3s ease-out;
   transition: background-color 0.3s ease-out;
}

.CsvPageComponent__container_button:hover,
.CsvPageComponent__container_label:hover,
.CsvPageComponent__header_toMainPagButton:hover {
   background-color: rgba(79, 117, 255, 0.515);
}

.CsvPageComponent__container_fileName {
   font-size: 1.1rem;
   font-weight: 600;
}
