.PriceComponent {
    background-color: white;
    padding: 0.5rem 3rem 0.5rem 3rem;
    margin: 0 1rem 0 1rem;
    border-radius: 30px;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 }
 
 .PriceComponent__header {
    font-size: 1rem;
    font-weight: 500;
    color:rgb(89, 89, 89)
 }